generators:
  - mod: skir-elixir-gen
    outDir: ./lib/skirout
    config:
      namespace: Example.Protocol
  - mod: skir-typescript-gen
    outDir: ./reference/skirout
    config:
      importPathExtension: .js
